{% extends "base.html" %}

{% block title %}members_detail.html{% endblock %}

{% block content %}

    <h1>{{ object.name }}</h1>
        <ul>
            <li>나이 : {{ object.age }} </li>
            <li>주소 : {{ object.address }} </li>
            <li>연락처 : {{ object.tel }} </li>
            <li>이메일 : {{ object.email }} </li>
            <li>생년월일 : {{ object.birth }} </li>
        </ul>
{% endblock %}

    name = models.CharField('NAME', max_length=100, blank=False)
    age = models.CharField('AGE', max_length=100, blank=True)
    address = models.CharField('ADDRESS', max_length=200, blank=False)
    tel = models.CharField('TEL', max_length=100, blank=False)
    email = models.EmailField('EMAIL', max_length=100, blank=False)
    birth = models.DateTimeField('BIRTH', auto_now=False)